
.prog {
	background: #e3e3e3;
	border-radius: 10px;
}

.progs {
	background: #e69138ff;
	border-radius: 10px;
	line-height: 100%;
}

.rate{
	margin: auto; 
	font-size: 14px;
	color: black;
}

.th2_ {
	text-align: center;
	border-right: solid 1px orange !important;
	border-bottom: none !important;
	font-weight: normal !important;
	background-color: white !important;
	color: #666666 !important;
	width: 20%;
}

.td5 {
	font-weight: normal !important;
	padding-left: 50px !important;
	border-bottom: none !important;
}

.sweet-modal-title-wrap{
	background: #e69138ff;
	padding-left: 45px !important;
}
.sweet-modal-title h2 {
	font-size: 30px !important;
    font-weight: 500 !important;
    color: white !important;
}
#activities {
	position: relative;
	padding: 80px 0;
	margin-bottom: 3%;
}