nav{
	background-color: white !important;
	width: 100% !important;
	line-height: 63px !important;
	height: 64px !important;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-size: none !important;
}

#list {
	float:left; 
	color: gray !important;
	font-size: 13px !important;
	padding: 0px 25px !important;
	cursor: pointer;
 }
 
#list:hover {
	transition:all .3s ease !important;
	box-shadow: 0px -2.3px 0px 0px orange inset;
}

#list > #listspan { position:relative; display: inline-block;}

#list:hover > #listspan::after{
  content: '';
  width: 100%;
  right: 0px;
  display: block;
  position: absolute;
  margin-top: 0px;
} 

.submenu {
	position: absolute;
    display:none;
    list-style:none; 
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    width: 105vw;
    top: 64px;
    left: -15vw;
    background-color: white;
    z-index: 100;
    transition-duration: 10s;
    padding-left: 40vw !important;
}

#list:hover > .submenu {
	display: block;
	transition-duration: 10s;
}

.container {
	min-width: 787px !important;
}

.registerA {
	padding: 0 0 0 15px;
}