#information {
	position: relative;
	padding: 80px 0;
	margin-bottom: 3%;
}

#information:before {
	content: "";
	background-image: url("../resources/img/problem.png");
	background-size: cover;
	top: 0;
	left: 0;
	right: 0px;
	bottom: 0px;
	position: absolute;
	opacity: 0.4;
	z-index: -1;
}
.area{
	margin: 0 auto;
	margin-bottom: 10%;
	max-width: 60%;
}

#info{
	margin-bottom: 10%;
	color: gray;
}
#goal{
	margin-bottom: 10%;
	color: gray;
}

.th3{
	text-align: center;
	border-right: solid 1px orange !important;
 	border-bottom: none !important;
 	font-weight: normal !important;
 	background-color: white !important;
 	color: #666666 !important;
}
.td8{
	font-weight: normal !important;
	padding-left: 50px !important;
}
.td8:hover{
	background-color: white !important;
}
.tableCell {
 	border-bottom: none !important;
} 
@media screen and (max-width: 650px){
	.area{
		margin-left: 5% !important;
		margin-right: 5% !important;
		max-width: 100% !important;
	}
	.table{
		font-size: 12px !important;
	}
	.tableCell{
		min-width: 80px;
	}
	.td8{
		padding-left: 20px !important;
	}
}
