


.button {
	float: right;
	margin: 2px 2px;
}

.edit {
	display: none;
}


.tablehead {
	font-weight : bold;
	font-size : 16px;
}
.tableManage{
	display: table !important;
	width: 100% !important;
}
input {
	display:inline-block;
	width:100%;
}
#siteUrl {
	width: 70%;
}
.right{
	float:right;
}
#codingsiteimg {
    opacity: 0.4;
    
}
.spanbtn{
	min-width: 100px;
}
button {
	display: inline-block !important;
}

span.btns {
	display: none;
	float: right;
	width: 150px;
}

span.addbtns {
	float: right;
}
.editSite {
	margin-right:4px;
}
#cancelbtn {
	margin-right: 4px;
}
@media screen and (max-width: 715px){
	.tableManage{
		width: 100% !important;
 		font-size: 12px !important;
 		overflow-x: auto !important;
 		display: block !important;
	}
	.tablehead{
	 	font-size: 12px !important;
	}
	.tableRow{
		overflow-x: auto !important;
	}
	.tableCell{
		overflow-x: auto !important;
	}	
}
@media screen and (max-width: 380px){
	.table{
 		font-size: 12px !important;
 		overflow-x: auto !important;
 		display: block !important;
	}
	.tablehead{
	 	font-size: 12px !important;
	}
	.tableRow{
		overflow-x: auto !important;
	}
	.tableCell{
		overflow-x: auto !important;
	}
}