


.button {
	float: right;
	margin: 2px 2px;
}

.edit {
	display: none;
}


.tablehead {
	font-weight : bold;
	font-size : 16px;
}

input {
	display:inline-block;
	width:100%;
}
#siteUrl {
	width: 70%;
}
.right{
	float:right;
}
#codingsiteimg {
    opacity: 0.4;
    
}
.spanbtn{
	min-width: 100px;
}
button {
	display: inline-block !important;
}

span.btns {
	display: none;
	float: right;
	width: 150px;
}

span.addbtns {
	float: right;
}
.editSite {
	margin-right:4px;
}
#cancelbtn {
	margin-right: 4px;
}
