#myDoughnutChart{ margin: auto;}
@media screen and (max-width: 700px) {
	.card-content2 { display: none; } 
	.card-content1 {width: 100%; margin:auto;}
}
.card-wrap {
	width: 100%;
	display: inline-flex;
}
 .card-content1, .card-content2{
	flex: 1;
	width: 400px;
} 
.card-content1{
	margin-right: 15px;
}
.card-body {
	border-radius: 10px !important;
	height: 200px;
	padding: 10px;
}
.card-title {
	font-size: 20px !important;
	padding: 2% 2% 4% 2%;
}
.tc{
	word-break: break-all;
	text-align: left !important;
	border-left: 1px solid #DDD !important;
	border-right: 1px solid #DDD !important;
}
.probname{ font-size: 0.8rem; }
#groupTitle {
    position: relative;
    padding: 80px 0 60px 0;
    border-bottom: 1px solid #DDD;
    margin-bottom: 2.5%;
}