.register{
	margin: 0 auto;
	max-width: 60%;
	margin-top: 10%;
	margin-bottom: 10%;
}

.cell{
	color: #e69138ff ;
}
.th1 .th2 .th3 .th4{
	color: #e69138ff ;
}
#dupCheck{
	margin-left: 8px;
    position: absolute;
    right: 0;
    top: 28px;
    background: #e69138ff;
}
.nicknameRow{
	position:relative;
}